################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartTracker2014
/Lib
/SDK/DataClass/bin
/SDK/DataClass/obj
/SDK/ErrorMessage/bin
/SDK/ErrorMessage/obj
/SDK/SDK_SC_AccessControl/bin
/SDK/SDK_SC_AccessControl/obj
/SDK/SDK_SC_DBClass/bin
/SDK/SDK_SC_DBCLass/obj
/SDK/SDK_SC_Fingerprint/bin
/SDK/SDK_SC_AFingerprint/obj
/SDK/SDK_SC_MedicalCabinet/bin
/SDK/SDK_SC_MedicalCabinet/obj
/SDK/SDK_SC_RfidReader/bin
/SDK/SDK_SC_RfidReader/obj
/SDK/SDK_SC_Rfid_And_Scale/bin
/SDK/SDK_SC_Rfid_And_Scale/obj
/SDK/SDK_SC_RFID_Devices/bin
/SDK/SDK_SC_RFID_Devices/obj
/SDK/TcpIP_class/bin
/SDK/TcpIP_class/obj
/SDK/SmartTrackerApp/bin
/SDK/SmartTrackerApp/obj


