################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartTracker2014
/Lib
/SDK/DataClass/bin
/SDK/DataClass/obj
/SDK/ErrorMessage/bin
/SDK/ErrorMessage/obj
/SDK/SC_AccessControl/bin
/SDK/SC_AccessControl/obj
/SDK/SC_DBClass/bin
/SDK/SC_DB_CLass/obj
/SDK/SC_Fingerprint/bin
/SDK/SC_AFingerprint/obj
/SDK/SC_MedicalCabinet/bin
/SDK/SC_MedicalCabinet/obj
/SDK/SC_RfidReader/bin
/SDK/SC_RfidReader/obj
/SDK/SC_Rfid_And_Scale/bin
/SDK/SC_Rfid_And_Scale/obj
/SDK/SC_RFID_Devices/bin
/SDK/SC_RFID_Devices/obj
/SDK/TcpIP_class/bin
/SDK/TcpIP_class/obj
/SDK/SmartTrackerApp/bin
/SDK/SmartTrackerApp/obj


