################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartTracker2014
/Lib
/SDK/DataClass/bin
/SDK/DataClass/obj
